{{> navbar }}

<section class="section">

  <div class="container mt-4">
    <h4>Trend details</h4>
    <div class="row g-4 mt-1">
      <div class="col col-sm-12 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-primary">{{ includeCount }}</h2>
            <p class="card-text">Include</p>
          </div>
        </div>
      </div>
      <div class="col-2 col-sm-12 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-primary">{{ excludeCount }}</h2>
            <p class="card-text">Exclude</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">

    <h4>Modify</h4>

    <div class="d-flex flex-column">
      <div class="form-floating mt-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
          style="height: 100px">{{ include }}</textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
      <div class="form-floating mt-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
          style="height: 100px">{{ exclude }}</textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
    </div>

    <button class="btn btn-primary mt-3">Update</button>
  </div>

  <div class="container mt-4">
    <h4>VK statistic</h4>
  </div>
</section>