{{> main_navigation }}

<section class="section">
  <div class="container mt-3">

    <div class="d-flex flex-column container">

      {{!-- Comment template --}}
      <div class="d-flex flex-column border mt-3 ml-3 mr-3 mb-0 rounded">
        <div class="d-flex flex-row">
          <div class="d-flex flex-column">
            <a href="/vk/users/details/id1">
              <img class="rounded m-2" height="73px"
                src="https://sun4-18.userapi.com/s/v1/ig2/RyNi_fua-SpFDTiYVW0FyHhaWGFoUuIbpzONrJ_Qya0FU91ZWCL0iaVgOyrdq0SRz11V6jbOqxPrT19XdjvVAFHF.jpg?size=200x200&quality=96&crop=1,1,1077,1077&ava=1"
                alt="">
            </a>
            <a href="/vk/publics/details/id1">
              <img class="rounded m-2" height="73px"
                src="https://sun4-18.userapi.com/s/v1/if1/VOVpzdkRftSbrdhUU4RhsTjcbmxjfu-u2yjWSOX7ITf3QUp6J02ySfBujIUbT4L_hVeG2M98.jpg?size=200x200&quality=96&crop=0,0,1600,1600&ava=1"
                alt="">
            </a>
            <div class="p-2">
              <a href="#" class="btn btn-light btn-sm">12.09.23</a>
            </div>
          </div>
          <div class="p-2 border-start">
            {{!-- WARN: 585 chars max! --}}
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae debitis maxime id officia itaque culpa sunt
              est similique provident nam iure perferendis esse quisquam amet, ducimus cumque fuga tempora, explicabo,
              sed
              mollitia modi! Recusandae, assumenda. Eum molestiae vel ab ad possimus, at vero placeat eius, explicabo
              non
              expedita. Facere voluptates adipisci fuga dolorum tempore pariatur eius distinctio, reprehenderit quisquam
              nihil id possimus est sequi error tenetur nisi nulla perspiciatis at mollitia illo officiis. Eveniet
              magnam
              eaque exercitationem labore illum praesentium!
            </p>
          </div>
        </div>
        <div class="border-top p-2">
          <h3>⚓ Keywords</h3>
          <div class="mt-2 p-2 hstack gap-3">
            <a href="/keywords/details/1" class="btn btn-light btn-sm">Keyword 1</a>
            <a href="/keywords/details/1" class="btn btn-light btn-sm">Keyword 2</a>
            <a href="/keywords/details/1" class="btn btn-light btn-sm">Keyword 3</a>
            <a href="/keywords/details/1" class="btn btn-light btn-sm">Keyword 4</a>
          </div>
        </div>
        <div class="border-top p-2">
          <h3>📊 Trends</h3>
          <div class="mt-2 p-2 hstack gap-3">
            <a href="/trends/details/1" class="btn btn-light btn-sm">Trend 1</a>
            <a href="/trends/details/1" class="btn btn-light btn-sm">Trend 2</a>
            <a href="/trends/details/1" class="btn btn-light btn-sm">Trend 3</a>
            <a href="/trends/details/1" class="btn btn-light btn-sm">Trend 4</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>